.galerieZone {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
  box-sizing: border-box;
  gap: 0;
}

.galerieRangee {
  width: 100%;
  height: 203px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.galeriePhoto {
  flex: 1;
  height: 203px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.galeriePhoto:hover {
  transform: scale(1.02);
}

.galeriePhoto img {
  width: 100%;
  height: 203px;
  object-fit: cover;
  object-position: center 20%;
  display: block;
}

/* Position spécifique par photo */
.photo3 img { object-position: center 10%; }
.photo4 img { object-position: center 75%;  }
.galeriePagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  margin-top: 10px;
  position: relative;
}
.galerieDots {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.galerieDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:  #1B1843;
;
  cursor: pointer;
  transition: background-color 0.2s;
}

.galerieDot.active {
  background-color: #e6a817;
}

.galerieDot.active {
  background-color: #e6a817;
  width: 10px;
  height: 10px;
}

.galerieNav {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 4px;
}






.galerieNavBtn {
  background: none;
  border: none;
  cursor: pointer;
   width: 24px;
  height: 24px;
  color: #1B1843;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}


.galerieNavBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}